extends layout

block content
  h1= title

  ul
    each author in author_list
      li
        if author.life_span !== ""
          a(href=author.url) #{author.name}
          |  (#{author.life_span})
        else 
          a(href=author.url) #{author.name}

    else
      li There are no authors.